html {
  scroll-behavior: smooth;
}

body {
  padding: 16pt;
  background-color: #2a2a2a;
  /* background-color: grey; */
}

.sec-1 {
  height: 50vh;
  background-color: #2a2a2a;
  /* background-color: blue; */
  color: white;
}

.sec-2 {
  height: 480vh;
  background-color: #2a2a2a;
  color: white;
  /* display: flex; */
  /* justify-content: center; */
}

.sec-3 {
  /* height: 200vh; */
  background-color: #2a2a2a;
  color: white;
}

.sec-4 {
  /* height: 200vh; */
  background-color: #2a2a2a;
  color: white;
}


.sec-5 {
  height: 100vh;
  background-color: #2a2a2a;
  /* background-color: red; */
  color: white;
}


#title-main-container {
  /* background-color: blue;
  opacity: 0.5; */
  /* font-size: 128px; */
  font-size: max(min(16vw, 128px), 30px);
  position: fixed;
  text-align: center;
  vertical-align: top;
  width: 100%;
  top: 40vh;
  vertical-align: top;
  animation: move-title-main linear forwards;
  animation-timeline: --header;
  view-timeline-name: --header;
  animation-range: 50% 100%;
  z-index: 1;
}

@keyframes move-title-main {
  0% {transform: translate(0);}
  100% {
    font-size: max(min(3vw, 36px), 24px);
    transform: translate(0 , -38vh);
    width: 5em;
    height: 1em;
  }
}

#title-main {
  display: flex;
  justify-content: center;
}

#title-main span { 
  position: relative;
  opacity: 0;
}

#title-main span:hover {
  top: 0.01em;
}


#title-main span:nth-child(1) {animation: title-move-in ease 1s forwards}
#title-main span:nth-child(2) {animation: title-move-in ease 1s forwards 0.1s}
#title-main span:nth-child(3) {animation: title-move-in ease 1s forwards 0.2s}
#title-main span:nth-child(4) {animation: title-move-in ease 1s forwards 0.3s}
#title-main span:nth-child(5) {animation: title-move-in ease 1s forwards 0.4s}
#title-main span:nth-child(6) {animation: title-move-in ease 1s forwards 0.5s}
#title-main span:nth-child(7) {animation: title-move-in ease 1s forwards 0.6s}
#title-main span:nth-child(8) {animation: title-move-in ease 1s forwards 0.7s}
#title-main span:nth-child(9) {animation: title-move-in ease 1s forwards 0.8s}
#title-main span:nth-child(10) {animation: title-move-in ease 1s forwards 0.9s}
#title-main span:nth-child(11) {animation: title-fade-in ease 1s forwards 2s}
#title-secondary {animation: title-fade-in ease-in-out 0.5s forwards 2s}

@keyframes title-move-in {
    0% { bottom: 0.2em; } 
    80% { bottom: 0; }
    100% { opacity: 1; }
}

@keyframes title-fade-in {
    0% { bottom: -0.5em;}
    100% { opacity: 1; bottom: 0; }
}


#title-secondary-container {
  /* background-color: red; */
  /* opacity: 0.5; */
  font-size: max(min(3vw, 36px), 24px);
  position: fixed;
  right: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* height:  calc( max(min(16vw, 128px), 30px)); */
  top: 40vh;
  animation: move-title-secondary linear forwards;
  animation-timeline: --header;
  view-timeline-name: --header;
  animation-range: 50% 100%;
}


#title-secondary  { 
  position: relative;
  opacity: 0;
}

@keyframes move-title-secondary {
  0% {transform: translate(0);}
  100% {
    font-size: max(min(3vw, 36px), 24px);
    transform: translate(0 , 55vh);
    right: 16pt;
    height: 1em;
  }
}

#about-container {
  /* background-color: red; */
  opacity: 0%;
  /* font-size: 32px; */
  font-size: max(min(3vw, 42px), 32px);
  position: sticky;
  text-align: left;
  vertical-align: top;
  width: 100%;
  top: 30vh;
  animation: about-container-entry linear forwards;
  animation-timeline: view();
  animation-range: 10% 100%;
  color: #D9D9D9;
  max-width: 900px;
  margin: auto;
}


.about-text-secondary {
  color: #59ACDB;
  /* position: absolute; */
  /* display: inline */
  /* top: 1em; */
  opacity: 0;
  transition: opacity 1s;
  /* animation: change-color 0.5s ease-in-out infinite alternate; */
}


@keyframes change-color {
  0% {color: #A3A3A3;} 
  100% {color: #59ACDB;}
}


#about-text-3 {
  /* opacity: 1; */
  color: #41d650;
}


#about-text-4 {
  /* opacity: 1; */
  color:  #df5f24;
}


@keyframes about-container-entry {
  0% { opacity: 0; transform: translateY(20vh);}
  5% {opacity: 0;}
  15% {transform: translateY(0)}
  30% {opacity: 1;  }
  95% {opacity: 1;}
  /* 95% {opacity: 0;} */
  100% { opacity: 0;}
}

@keyframes about-secondary {
  0% { opacity: 0;}
  /* 50% { opacity: ;} */
  100% { opacity: 1;}
}


#works-container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1.5em;
  font-size:  max(min(16vw, 128px), 30px);
  
}

#works-container h1 {
  position: sticky;
  top: 0;
  animation: fade-in-out linear forwards;
  animation-timeline: --works;
  view-timeline-name: --works;
  animation-range: 40% 80%;
  opacity: 0;
  margin: 3em 0 6em 0;
  z-index: 1;
}

#works-container img {
  /* position: absolute; */
  width: 80vw;
  margin: 0.3em;
  animation: fade-in-out linear forwards;
  animation-timeline: --portfolio;
  view-timeline-name: --portfolio;
  animation-range: 20% 80%;
  opacity: 0;
}

@keyframes heading-fade-in {
    0% { transform: translateY(5vh)}
    100% { opacity: 1; transform: translateY(0) }
}

@keyframes fade-in-out {
    0% { opacity: 0; transform: translateY(5vh)}
    20% {opacity: 1; transform: translateY(0)}
    80% {opacity: 1; transform: translateY(0)}
    100% { opacity: 0; transform: translateY(-5vh) }
}


#technologies-container {
  /* background-color: blue; */
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 0 6em 0;
  padding: 1.5em;
}

#technologies-container h1 {
  position: sticky;
  top: 5vh;
  font-size:  max(min(16vw, 128px), 30px);
  /* text-shadow: 2px 2px black; */
  animation: fade-in-out linear forwards;
  animation-timeline: view();
  /* animation-range: 20% 95%; */
  animation-range: contain;
  opacity: 0%;
  margin-bottom: 1em;
  z-index: 1;
}

#technologies-list {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em; 
}

.technologies-category {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.technologies-category h4 {
  text-transform: uppercase;
  /* font-size:  max(min(8vw, 64px), 16px); */
  font-size:  max(min(6vw, 48px), 12px);
  animation: fade-in-out linear forwards;
  animation-timeline: view();
  /* animation-range: contain; */
  animation-range: 20% 95%;
  opacity: 0%;
}

.technologies-category p {
  text-transform: uppercase;
  font-size:  max(min(6vw, 48px), 12px);
  animation: slide-in linear forwards;
  animation-timeline: view();
  animation-range: 30% 60%;
  opacity: 0;
}

#technologies-list {
  /* background-color: yellow; */
  min-width: 100%;
}

@keyframes slide-in {
  0% {transform: translateX(50%); opacity: 0.5}
  50% {transform: translateX(0);  color: white}
  100% { color:  #df5f24; opacity: 1}
}

#contact-container{
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 1em 0; */
  /* padding: 1.5em 0; */
  font-size:  max(min(16vw, 128px), 30px);
  animation: fade-in-out linear forwards;
  animation-timeline: view();
  /* animation-range: contain; */
  animation-range: 30% 95%;
  opacity: 0%;
  padding: 0.5em 0;
}

#contact-container h1 {
  position: sticky;
  top: 0;
  /* animation: heading-fade-in linear forwards;
  animation-timeline: --contact;
  view-timeline-name: --contact;
  animation-range: 20% 40%;
  opacity: 0; */
  /* margin: 1em 0 0 0; */
}

#contact-body {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* animation: heading-fade-in linear forwards;
  animation-timeline: --contact;
  view-timeline-name: --contact;
  animation-range: 20% 40%;
  opacity: 0; */
}

#contact-body p {
  font-size: max(min(3vw, 32px), 24px);
  display: none;
}

#contact-buttons-container {
  /* background-color: yellow; */
  font-size:  max(min(6vw, 48px), 12px);
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#contact-buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  /* order: -1; */
  margin: 1.5em 0;
}


#contact-buttons img {
  width: 60px;
}

#contact-form {
  /* background-color: green; */
   /* font-size:  max(min(6vw, 48px), 12px); */
  font-size: max(min(3vw, 32px), 24px);
  display: flex;
}

#contact-form form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 600px;
}

#contact-form label {
  margin-bottom: -0.8em;
}

#contact-form input {
  padding: 0.5em;
}

#contact-form input, textarea {
  font-size: max(min(3vw, 24px), 18px);
  padding: 0.5em;
} 

#contact-form button {
  font-size: max(min(3vw, 32px), 24px);
  border-radius: 15px;
  border: none;
  font-weight: bold;
  color: white;
  background-color: #df5f24;
  padding: 0.5em;
}


:root {
  --scroll: 0;
}

@media screen and (min-width: 1008px) {
  
#about-container span {
  display: block;
}

.about-text-secondary {
  position: absolute;
}

#technologies-list {
  align-items: center;
  gap: 0;
}

.technologies-category {
  /* background-color: yellow; */
  width: 40%;
  flex-direction: row;
  justify-items: flex-start;
  gap: 2em;
  /* border-bottom: 1px white solid; */
}

.technologies-type {
  /* background-color: green; */
  width: 50%;
}

.technologies-items {
  /* background-color: blue; */
  border-left: 1px solid white;
  /* border-bottom: 1px solid white; */
  padding: 1em 3em;
  width: 50%;
}

.technologies-category:last-child .technologies-items {
  border-bottom: none;
}

#contact-body {
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5em;
  margin: 0.5em;
}

#contact-buttons-container {
  /* background-color: yellow; */
  max-width: 30vw;
  align-items: flex-start;
}

#contact-buttons {
  margin: 0;
}

#contact-body p {
  display: block;
}

#contact-form form {
  /* width: 40vw; */
  /* max-width: 500px; */
}




}