html {
  scroll-behavior: smooth;
}

body {
  padding: 16pt;
  background-color: #2a2a2a;
  /* background-color: grey; */
}

.sec-1 {
  height: 50vh;
  background-color: #2a2a2a;
  /* background-color: blue; */
  color: white;
}

.sec-2 {
  height: 480vh;
  background-color: #2a2a2a;
  color: white;
  /* display: flex; */
  /* justify-content: center; */
}

.sec-3 {
  height: 100vh;
  background-color: #2a2a2a;
  color: white;
}

.sec-4 {
  height: 100vh;
  background-color: #2a2a2a;
  color: white;
}


#title-main-container {
  /* background-color: blue;
  opacity: 0.5; */
  /* font-size: 128px; */
  font-size: max(min(16vw, 128px), 30px);
  position: fixed;
  text-align: center;
  vertical-align: top;
  width: 100%;
  top: 40vh;
  vertical-align: top;
  animation: move-title-main linear forwards;
  animation-timeline: --header;
  view-timeline-name: --header;
  animation-range: 50% 100%;
  z-index: 1;
}

@keyframes move-title-main {
  0% {transform: translate(0);}
  100% {
    font-size: max(min(3vw, 36px), 24px);
    transform: translate(0 , -38vh);
    width: 5em;
    height: 1em;
  }
}

#title-main {
  display: flex;
  justify-content: center;
}

#title-main span { 
  position: relative;
  opacity: 0;
}

#title-main span:hover {
  top: 0.01em;
}


#title-main span:nth-child(1) {animation: title-move-in ease 1s forwards}
#title-main span:nth-child(2) {animation: title-move-in ease 1s forwards 0.1s}
#title-main span:nth-child(3) {animation: title-move-in ease 1s forwards 0.2s}
#title-main span:nth-child(4) {animation: title-move-in ease 1s forwards 0.3s}
#title-main span:nth-child(5) {animation: title-move-in ease 1s forwards 0.4s}
#title-main span:nth-child(6) {animation: title-move-in ease 1s forwards 0.5s}
#title-main span:nth-child(7) {animation: title-move-in ease 1s forwards 0.6s}
#title-main span:nth-child(8) {animation: title-move-in ease 1s forwards 0.7s}
#title-main span:nth-child(9) {animation: title-move-in ease 1s forwards 0.8s}
#title-main span:nth-child(10) {animation: title-move-in ease 1s forwards 0.9s}
#title-main span:nth-child(11) {animation: title-fade-in ease 1s forwards 2s}
#title-secondary {animation: title-fade-in ease 1s forwards 2s}

@keyframes title-move-in {
    0% { bottom: 0.2em; } 
    80% { bottom: 0; }
    100% { opacity: 1; }
}

@keyframes title-fade-in {
    100% { opacity: 1; }
}


#title-secondary-container {
  /* background-color: red; */
  /* opacity: 0.5; */
  font-size: max(min(3vw, 36px), 24px);
  position: fixed;
  right: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height:  calc( max(min(16vw, 128px), 30px) + 1em);
  top: 40vh;
  animation: move-title-secondary linear forwards;
  animation-timeline: --header;
  view-timeline-name: --header;
  animation-range: 50% 100%;
}


#title-secondary  { 
  position: relative;
  opacity: 0;
}

@keyframes move-title-secondary {
  0% {transform: translate(0);}
  100% {
    font-size: max(min(3vw, 36px), 24px);
    transform: translate(0 , -38vh);
    right: 16pt;
    height: 1em;
  }
}

#about-container {
  /* background-color: red; */
  opacity: 0%;
  font-size: 32px;
  font-size: max(min(3vw, 42px), 32px);
  position: sticky;
  text-align: left;
  vertical-align: top;
  width: 100%;
  top: 30vh;
  animation: about-container-entry linear forwards;
  animation-timeline: view();
  animation-range: 10% 100%;
  color: #D9D9D9;
  max-width: 900px;
  margin: auto;
}

#about-text {
  display: inline;
  position: static;
}

.about-text-secondary {
  color: #59ACDB;
  /* position: absolute; */
  /* display: inline */
  /* top: 1em; */
  opacity: 0;
  transition: opacity 1s;
  /* animation: change-color 0.5s ease-in-out infinite alternate; */
}

#about-container span {
  /* display: block; */
  /* text-align: right; */
}

/* #about-container p {
  display: inline;
} */


@keyframes change-color {
  0% {color: #A3A3A3;} 
  100% {color: #59ACDB;}
}


#about-text-3 {
  /* opacity: 1; */
  color: #41d650;
}


#about-text-4 {
  /* opacity: 1; */
  color:  #dc6b25;
}


@keyframes about-container-entry {
  0% { opacity: 0;}
  5% {opacity: 0;}
  30% {opacity: 1}
  95% {opacity: 1;}
  /* 95% {opacity: 0;} */
  100% { opacity: 0;}
}

@keyframes about-secondary {
  0% { opacity: 0;}
  /* 50% { opacity: ;} */
  100% { opacity: 1;}
}





#works-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1.5em;
  font-size:  max(min(16vw, 128px), 30px);
}

#contact-container{
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 1em 0; */
  /* padding: 1.5em 0; */
  font-size:  max(min(16vw, 128px), 30px);
}

#contact-body {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#contact-buttons-container {
  /* background-color: yellow; */
  font-size:  max(min(6vw, 48px), 12px);
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#contact-buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  order: -1;
  margin: 1em 0;
}


#contact-buttons img {
  width: 60px;
}

#contact-form {
  /* background-color: green; */
  font-size: 30px;
  /* width: 50%; */
  /* padding: 1em 0; */
  display: flex;
}

#contact-form form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 500px;
}

#contact-form label {
  margin-bottom: -0.8em;
}

#contact-form input {
  padding: 0.5em;
}

#contact-form input, textarea {
  /* width: 25em; */
  font-size: 20px;
  padding: 0.5em;
} 

#contact-form button {
  font-size: 20px;
  border-radius: 15px;
  border: none;
  background-color: #59ACDB;
  padding: 0.5em;
}


:root {
  --scroll: 0;
}

@media screen and (min-width: 1008px) {
  
#about-container span {
  display: block;
}

.about-text-secondary {
  position: absolute;
}


#contact-body {
  /* flex-direction: row; */
  /* gap: 1em; */
}

/* #contact-buttons {
  flex-direction: column;
} */

}